/* LAYOUT STRUCTURE/STYLE */
body {
  display: grid;
  margin: 5px;
/*   grid-template-columns: 150px 200px 300px; */
/*   grid-template-columns: 19% 38% 38%; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-template-columns: 100%;
  grid-template-rows: 5% 20% 20% 20% 10% 5%;
  /* grid-template-rows: .5fr repeat(2, 1fr) auto; */
  grid-template-areas:
    "topnav"
    "hero-image"
    "about"
    "samples"
    "contactme"
    "footer"
    grid-gap: 10px;
    background-color: rgb(209, 209, 224);
    font-color: black;
    font-family: 'Roboto';
    font-size: 100%;
    text-align: center;
    margin: 0 auto;
  }


  .main{
    display: inline-block;
    /* flex-direction: row; */
    /* padding-top: 20px; */
    margin-left: 20px;
    margin-right: 20px;
  }

  div {
    background-size: cover;
    position: relative;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    background: -webkit-linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,.2));
    background: linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,.2));
    padding: 10px 0 5px 0;
    margin: 10px 0 5px 0;
  }

  h2{
    padding: 20px 30px 20px 30px;
    margin: 10px 10px 20px 10px;
    text-align: center;
    color: rgba(255,255,255,1);
    background: linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,.2));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,.2));
  }


  .social-logo{
    /* display:inline-block; */
      height: 55px;
      width: 55px;
      margin: 0px 5px 0px 0px;
  }

  .social-logo-github{
    height: 45px;
    width: 45px;
  }
  .social-logo-medium{
    height: 42px;
    width: 42px;
  }

  .social-logo-li{
    height: 65px;
    width: 65px;
  }

  .social{
    text-align: center;
    margin: 10px 20px 10px 20px;
    padding: 10px 50px 10px 50px;
    border: 10;
  }

  .hero-image {
    background-image: url("https://i.imgur.com/9CqhQfP.jpg");
    margin-top: 44px;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* Add a black background color to the top navigation */
  .topnav {
    display: inline-block;
    background-color: rgb(153, 153, 153);
    z-index: 3;
    opacity: 0.8;
    width:100%;
    /* max-width: 800px; */
    overflow: hidden;
    float: center;
    margin-bottom: 30px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    /* max-width: 800px; */
    color: #f2f2f2;
    /* color: black; */
    opacity: 0.8;
    float: center;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    /* margin-bottom: 30px; */
  }


  /* Change the color of links on hover */
  .topnav a:hover {
    /* background-color: yellow; */
    opacity: 0.8;
    color: black;
    /* color: #f2f2f2; */
  }

  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: red;
    opacity: 0.8;
    color: white;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



    .bio-logo {
      height: 25px;
      width: 25px;
      margin: 0px 5px 0px 5px;
    }


    .bio{
      display:block;
      justify-content: center;
      margin-left: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      /* max-width: 800px; */
    }

  h3{
      padding-top: 40px;
      font-weight: 800;
    }

  h4{
      font-weight: 800;
    }

    li{
      font-size: 18px;
      margin-top: 5px;
    }


    .contact{
      display: block;
      /* flex-direction: row; */
      margin: 10px 20px 10px 0px;
      /* text-align: center; */
    }

    #CTA{
        display: block;
        font-size: 18px;
        text-align: center;
        color: rgba(178, 178, 178, 1)
    }

    form.container {
        background-color: rgba(241, 241, 241, 1);
        display:inline-block;
        justify: left;
        float: center;
        max-width: 600px;
        padding: 5px 5px 5px 5px;
        /* margin: 5px; */
      }

      input {
        color: rgb(171, 171, 171);
        height: 30px;
        width: 200px;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        border: none;
      }

      textarea {
        color: rgb(171, 171, 171);
        height: 100px;
        min-width: 200px;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
      }

      #submit{
        background-color: #0033cc;
        /* float: left; */
        /* background-color: rgba(111, 171, 130, 1); */
        border-radius: 5px;
        border: none;
        color: white;
        height: 5%;
        margin: 5px;
        padding: 10px;
      }
    }


/* CAROUSEL STYLE BELOW */
.projects-heading {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 1px;
  padding-bottom: 40px;
  color: black;
  text-shadow: 1px 0px white;
}
.carousel {
  height: 300px;
  margin: 0 auto;
}
.w-100 {
  width: 100%!important;
  height: 300px;
  object-fit: contain;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 4px solid white;
  border-bottom: 1px solid white;
}





/* MEDIA QUERIES */
@media (max-width: 768px) {
  .fa-bars {
    display: block;
    cursor: pointer;
  }
  .nav-item {
    display: none;
  }
  .mobile-nav {
    display: block;
    width: 45%;
    background-color: rgba(156, 216, 255, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -50%;
    transition: all 1s;
  }
  .mobile-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    line-height: 50px;
  }
  .fa-times {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 21px;
  }
  .contact-container {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .about-me {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
  .about-me .sentence {
    margin: 0;
    text-align: center;
  }
}
/* BELOW IS QUERY FOR MOBILE */
@media (max-width: 400px) {
  .about-me .sentence {
    margin: 0;
    text-align: center;
  }
  .contact-container {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .about-me {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
}
